<main class="min-vh-100">
    <section class="d-flex container-lg my-5">
        <div class="row">
            <h2 class="text-center mb-3">Sobre nosotros</h2>
            <div class="col-md-6 text-center">
                <img src="../../../assets/Contenido/Inicio.jpg" alt="imagen de inicio" width="75%">
            </div>
            <div class="col-md-6 mt-3 mr-5">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus praesentium quisquam impedit minima dignissimos dolorum doloremque totam temporibus nesciunt quibusdam delectus est consectetur, illum esse saepe ut error autem! Eaque.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae facilis veritatis ipsa aspernatur excepturi asperiores magni nemo dolorum quisquam, ullam vitae nisi reiciendis distinctio dicta expedita odio ab. Accusamus, vero!
                </p>
            </div>
        </div>
    </section>
    <section class="d-flex container-lg mb-2">
        <div class="row">
            <h2 class="text-center mb-3">¿A qué nos dedicamos?</h2>
            <div class="col-md-6 mt-3 mr-5">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus praesentium quisquam impedit minima dignissimos dolorum doloremque totam temporibus nesciunt quibusdam delectus est consectetur, illum esse saepe ut error autem! Eaque.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae facilis veritatis ipsa aspernatur excepturi asperiores magni nemo dolorum quisquam, ullam vitae nisi reiciendis distinctio dicta expedita odio ab. Accusamus, vero!
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="../../../assets/Contenido/Inicio.jpg" alt="imagen de inicio" width="75%">
            </div>
        </div>
    </section>
</main>
