<main class="min-vh-100">
    <section class="d-flex container-lg mt-5">
        <div class="row w-100">
            <div class="col-md-6 text-center">
                <img src="../../../assets/Contenido/Inicio.jpg" alt="imagen de inicio" width="75%">
            </div>
            <div class="col-md-6">
                <h2>Realiza el <strong>MANTENIMIENTO</strong> <br> de tu auto con nosotros</h2>
                <p class="mt-3 mr-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus praesentium quisquam impedit minima dignissimos dolorum doloremque totam temporibus nesciunt quibusdam delectus est consectetur, illum esse saepe ut error autem! Eaque.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae facilis veritatis ipsa aspernatur excepturi asperiores magni nemo dolorum quisquam, ullam vitae nisi reiciendis distinctio dicta expedita odio ab. Accusamus, vero!
                </p>
                <button type="button" class="btn mt-3 p-2">Sacar Cita</button>
            </div>
        </div>
    </section>
</main>