/* Asegúrate de que el contenedor principal ocupe el 100% de la altura de la pantalla y esté centrado verticalmente */
main.min-vh-100 {
    display: flex;
    align-items: center;
}

/* Asegúrate de que la sección dentro del main esté centrada */
main.min-vh-100 .container-lg {
    flex: 1;
}

/* El resto del CSS existente */
strong {
    color: var(--color-secundario);
}
