<div class="formulario">
  <div class="textbut">
  <h1 id="texto">MIS CITAS<br></h1>
  <button id="agregar" (click)="crearCita()"> Nueva Cita </button>
  </div>
  <div class="contenedor">
      <mat-card-content>
        <table mat-table [dataSource]="listaCitas" class="mat-elevation-z8">

            <ng-container matColumnDef="idCita">
              <th mat-header-cell *matHeaderCellDef> Código </th>
              <td mat-cell *matCellDef="let element"> {{element.idCita}} </td>
            </ng-container>
        
            <ng-container matColumnDef="fechaRegistro">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
            </ng-container>

            <ng-container matColumnDef="detalle">
              <th mat-header-cell *matHeaderCellDef> Detalle </th>
              <td mat-cell *matCellDef="let element"> 
                  <button mat-button>
                    <i class='bx bx-show-alt icon'></i>
                  </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    <div class="scroll">
        <button id="bot">a</button>
        <button id="bot2">b</button>
    </div>
  </div>
</div>
