<div class="formulario">
    <div class="textbut">
    <h1 id="texto">MIS CITAS<br></h1>
    <button id="agregar">Agregar Cita</button>
    </div>
    <div class="contenedor">
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Precio</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td id="estado"></td>
                    <td></td>
                    <td><button id="detalle"></button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td id="estado"></td>
                    <td></td>
                    <td><button id="detalle"></button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td id="estado"></td>
                    <td></td>
                    <td><button id="detalle"></button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td id="estado"></td>
                    <td></td>
                    <td><button id="detalle"></button></td>
                </tr>
            </tbody>
        </table>
        <div class="scroll">
            <button id="bot">a</button>
            <button id="bot2">b</button>
        </div>
    </div>
</div>
