
<main class="min-vh-100 p-3 bg-light">
    <app-dashuser/>
    <section class="container-lg mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="info-usuario card shadow-sm mb-4">
                    <div class="card-body">
                        <h2 class="card-title text-start">Información Personal</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="icon-text my-4">
                                    <div class="d-flex align-items-center">
                                        <span class="fw-bold fs-5">Usuario</span>
                                    </div>
                                    <div class="mt-4">
                                        <span class="fw-bold">Nombre:</span><br>
                                        <span class="text-muted ml-4">[Nombre]</span><br>
                                        <span class="fw-bold">Apellido:</span><br>
                                        <span class="text-muted ml-4">[Apellido]</span><br>
                                        <span class="fw-bold">DNI/CE:</span><br>
                                        <span class="text-muted ml-4">[DNI/CE]</span><br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-text my-5">
                                    <div class="mt-4">
                                        <span class="fw-bold">Celular:</span><br>
                                        <span class="text-muted ml-4">[Celular]</span><br>
                                        <span class="fw-bold">Correo:</span><br>
                                        <span class="text-muted ml-4">[Correo]</span><br>
                                        <span class="fw-bold">Dirección:</span><br>
                                        <span class="text-muted ml-4">[Dirección]</span><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-end mt-4">
                            <button class="btn btn-primary">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
