<main class="min-vh-100 p-3">
  <div class="d-flex">
    <aside id="sidebar" class="sidebar">
      <div class="d-flex">
        <button class="toggle-btn" type="button">
          <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
          <a href="#">Usuario</a>
        </div>
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-item">
          <a (click)="DatosPerfil()" class="sidebar-link">
            <i class="lni lni-user"></i>
            <span>Mi Perfil</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="lni lni-agenda"></i>
            <span>Mis Citas</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a (click)="MisVehiculos()" class="sidebar-link">
            <i class="lni lni-car"></i>
            <span>Mis Autos</span>
          </a>
        </li>
      </ul>
    </aside>
  </div>
</main>
