<main class="min-vh-100 p-3">
    <section class="container-lg mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8"> <!-- Aumenté el ancho del col a col-lg-8 para hacer el card más grande -->
                <div class="info-detalleCita card mb-3">
                    <div class="card-body">
                        <h2 class="card-title text-start">Detalles de cita</h2> <!-- Alineación del título a la izquierda -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="card-subtitle">Codigo de cita:</h4>
                            <h4 class="card-subtitle">Fecha:</h4>
                            <h4 class="card-subtitle">Hora:</h4>
                            <h4 class="card-subtitle">Precio:</h4>
                        </div>

                        <div class="d-flex justify-content-between align-items-start mb-3">
                            <div class="icon-text my-2 d-flex align-items-center flex-column">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-person-fill me-2"></i>
                                    <span>Nombre del cliente</span>
                                </div>
                                <div class="mt-2">
                                    <span>Nombre: </span><br>
                                    <span>Celular: </span><br>
                                    <span>Correo: </span><br>
                                    <span>Dirección: </span>
                                </div>
                            </div>

                            <div class="icon-text my-2 d-flex align-items-center flex-column">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-bus-front-fill me-2"></i>
                                    <span>Datos del auto</span>
                                </div>
                                <div class="mt-2">
                                    <span>Marca: </span><br>
                                    <span>Modelo: </span><br>
                                    <span>Año: </span><br>
                                    <span>Placa: </span><br>
                                    <span>Color: </span>  
                                </div>
                            </div>

                            <div class="icon-text my-2 d-flex align-items-center flex-column">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-tools me-2"></i>
                                    <span>Datos de reparación</span>
                                </div>
                                <div class="mt-2">
                                    <span>Mecánico: </span><br>
                                    <span>Asesor: </span><br>
                                    <span>Duración: </span><br>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Observaciones:</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Observaciones del cliente"></textarea>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea2" class="form-label">Cambios Realizados:</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" placeholder="Cambios realizados"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
